body {
    padding: 0px;
    cursor: crosshair;
}


/*         TEXT         */
text {
    color: black;
    font-family: 'Caladea';
    font-size: 12px;
    line-height: 16px;
    padding-right: 20px;
}


texti {
    background: white;
    color: black;
    font-family: 'Caladea';
    font-size: 12px;
    font-style: italic;
    padding-right: 20px;
}

textTABS {
    color: black;
    font-family: 'Caladea';
    font-size: 14x;
    line-height: 18px;
    padding-right: 20px;
}

li {
    text-align: right;
    list-style: none
}

h1 {

    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: #33ffbb;
}

h2 {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #33ffbb;
}

h2:hover {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    cursor: zoom-in;
    font-size: 20px;
    color: #33ffbb;
}


h3 {
    background: white;
    line-height: 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding-right: 20px;
}






/*         INTERACTIVE (CLICKABLE MENUS)        */


.collapsible {
    background-color: transparent;
    color: black;
    cursor: crosshair;
    padding: 0px;
    border: none;
    outline: none;
    padding-bottom: 0px;
}



.content {
    display: none;
    bottom: 50px;
    padding-bottom: 16px;
    position: absolute;
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
    min-width: 350px;
    z-index: 1;
}




.collapsibleBR {
    color: black;
    background-color: transparent;
    cursor: crosshair;
    padding: 0px;
    border: none;
    outline: none;
    z-index: 1;
}


.contentBR {
    display: none;
    right: 0px;
    bottom: 20px;
    padding-bottom: 16px;
    position: absolute;
    min-width: 350px;

}




.collapsibleTR {
    position: absolute;
    text-align: left;
    right: 0px;
    background-color: transparent;
    color: black;
    cursor: crosshair;
    border: none;
    outline: none;
}




.contentTR {
    background-color: transparent;
    text-align: left;
    display: none;
    top: 50px;
    right: 0px;
    position: absolute;
    z-index: 1;
    min-width: 150px;
}





/*         IMAGE         */

img {
    width: 100%;
    height: auto;
    float: right;
    padding-bottom: 20px;
}




/*         INTERACTIVE (IMAGE and LINKS)        */


.dropdown-contentIMG {
    display: none;
    position: absolute;
    padding-right: 10px;
}

.dropdown:hover .dropdown-contentIMG {
    float: left;
    color: black;
    display: block;
    cursor: crosshair;
}

a.doc {
    font-family: 'Roboto';
    cursor: zoom-in;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}

a.doc:hover {
    color: black;
    cursor: zoom-in;
    background: #33ffbb;
    text-decoration: none;
}


a.tab {
    line-height: 24px;
    font-family: 'Roboto';
    font-size: 18x;
    cursor: zoom-in;
    font-weight: normal;
    text-transform: lowercase;
    color: black;
    text-decoration: none;
}

a.tab:hover {
    color: black;
    cursor: zoom-in;
    background: #33ffbb;
    text-decoration: none;
}









/*         LAYOUT        */


.row {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    height: 90%;
}

.nav {
    flex: 250px;
    padding: 0px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 20px;
    height: inherit;
}

.column {
    position: relative;
    left: 30%;
    flex-direction: column;
    float: left;
    top: -5vh;
    height: 92vh;
    overflow-y: scroll;
    width: 400px;
    margin-top: 60px;
    padding-right: 10px;
    margin-right: 20px;
}

.column2 {
    position: relative;
    left: 30%;
    flex-direction: column;
    float: left;
    top: -5vh;
    height: 92vh;
    overflow-y: scroll;
    width: 400px;
    margin-top: 60px;
    padding-right: 10px;
    margin-right: 20px;
}

.rightbuffer {
    flex: 10%;
    margin-top: 50px;
    margin-right: 20px;
}

.topRight {
    margin 0;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 0px;

}

.topleft {
    width: 200px;
    position: fixed;
    top: -10px;
    left: 20px;
}

.bottomright {
    position: fixed;
    bottom: 16px;
    right: 20px;
    font-size: 14x;
}

.botleft {
    position: fixed;
    bottom: 10px;
    left: 16px;
}



@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {

    .row {
        top:20px;
        flex-direction: column;
    }

    .column {
        top: 20px;
        position: relative;
        height: 40vh;
    }

    .column2 {
        top: 20px;
        position: relative;
        height: 40vh;
    }

    h2 {
        font-size: 24px;
    }

    text {
        font-size: 18px;
    }

    .bottomright {
        position: fixed;
        top: 95vh;
        right: 20px;
        font-size: 14x;
    }

    .botleft {
        position: fixed;
         top: 95vh;
        left: 16px;
    }

}
