body {
    margin: 10;
    padding: 30;
    cursor: crosshair;
    /*    font-family: sans-serif;*/
}

p.p {
    font-family: 'Caladea';
    font-size: 12px;
    line-height: 16px;
}

p.h {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #50f8be;
}

p.h2 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.collapsible {
    background-color: #ffffff;
    color: #444;
    cursor: crosshair;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #50f8be;
}

.active,
.collapsible:hover {
    background-color: #fffff;
    font-size: 12px;
    color: #50f8be;
}

.content {

    margin: 10px auto 0;
    display: none;
    overflow: hidden;
    background-color: #ffffff;


}



li {
    font-family: 'Caladea';
    font-size: 12px;
    line-height: 16px;
    margin-left: -15px;
}

.container {
    width: 90%;
    margin: 10px auto 0;
    display: table;
    box-sizing: border-box;
}

.row {
    margin 10px 20;
}

.column {
    background: #ffffff;
    display: table-cell;
    padding: 20px;
    width: 25%;
    text-align: left;
    vertical-align: top;
}

@media(max-width:800px) {
    .container {
        margin: 0;
        padding: 10px;
        width: 50%;
        transition: .2s;
    }

    .column {
        width: 200%;
        display: block;
        margin: 10px 10;
        border: none;
        box-sizing: border-box;
        transition: .2s;
    }

    .row {
        margin: 0px;
        transition: .2s;
    }

    .wrapper {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;

    }
