body {
    padding: 0px;
    cursor: crosshair;
}

text {
    color: black;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-right: 20px;
}
texti {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    padding-right: 20px;
}

textTABS {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15x;
    padding-right: 20px;
}

img {
    width: 100%;
    height: auto;
    float: right;
    padding-bottom: 20px;
}

li {
    background: white;
    list-style: none
}

h1 {
    
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: #33ffbb;
}

h2 {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #33ffbb;
}

h3 {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    padding-right: 20px;
}


.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    cursor: crosshair;
}

.dropdown-content {
    /*  what appears  */
    color: black;
    display: none;
    position: absolute;
    left: 0px;
    top: 30px;
    height: 300px;
    width: 200px;
    cursor: crosshair;
}

.dropdown-contentIMG {
    /*  what appears  */
    display: none;
    position: absolute;
}

.dropdown-contentR {
    color: black;
    text-align: right;
    display: none;
    position: absolute;
    right: 0px;
    top: 30px;
    height: 40px;
    width: 150px;
    cursor: crosshair;
}

.dropdown-contentBL {
    color: black;
    display: none;
    position: absolute;
    left: 0px;
    bottom: 50px;
    width: 200px;
    cursor: crosshair;
}


.dropdown:hover .dropdown-content {
    /*  display */
    display: block;
    cursor: crosshair;
}

.dropdown:hover .dropdown-contentR {
    color: black;
    display: block;
    cursor: crosshair;
}

.dropdown:hover .dropdown-contentBL {
    color: black;
    display: block;
    cursor: crosshair;
}

.dropdown:hover .dropdown-contentIMG {
    float: left;
    color: black;
    display: block;
    cursor: crosshair;
}


a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
}

/* mouse over link */
a:hover {
    cursor: zoom-in;
    background: #33ffbb;
}





.row {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    height: 80%;
}

.nav {
    flex: 250px;
    padding: 0px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 20px;
    height: inherit;
}

.column {
    position: relative;
    left: 30%;
    flex-direction: column;
    float: left;
    height: 620px;
    overflow-y: scroll;
    width: 400px;
    margin-top: 60px;
    padding-right: 10px;
    margin-right: 20px;
}

.column2 {
    position:relative;
    left: 30%;
    flex-direction: column;
    float: left;
    height: 620px;
    overflow-y: scroll;
    width: 400px;
    margin-top: 60px;
    padding-right: 10px;
    margin-right: 20px;
}

.rightbuffer {
    flex: 10%;
    margin-top: 50px;
    margin-right: 20px;
}

.topRight {
    margin 0;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 0px;

}

.topleft {
    width: 200px;
    position: fixed;
    top: -10px;
    left: 20px;
}

.bottomright {
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.botleft {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}






@media screen and (max-width: 700px) {
    .row {
        flex-direction: row;
    }
.column {
    position: relative;
    left: 10%;
    }
    .column2 {
    position: relative;
    left: 10%;
    }

}
